{% extends 'base.html.twig' %}


{% block body %}

    <h2>Filtrer les sorties</h2>

    {{ form_start(form) }}
    {{ form_row(form.campus) }}
    {{ form_row(form.motsClef) }}
    {{ form_rest(form) }}

    <div class="col-md-10 offset-md-1">
        <div class="row">
            <table>

                <thead> <!-- En-tête du tableau -->
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody> <!-- Corps du tableau -->
                {% for item in sorties %}
                    <tr>
                        {% if item.etat.code != 'CREA' and item.etat.code != 'AH' %}
                            <td>{{ item.nom }}</td>
                            <td>{{ item.dateHeureDebut|date('H:i d M Y ') }}</td>
                            <td>{{ item.dateLimiteInscription|date(' d M Y ') }}</td>
                            <td>{{ item.lstParticipant | length }}/{{ item.nbInscriptionsMax }}</td>
                            <td>{{ item.etat.libelle }}</td>

                            <td>
                            {% if app.user in item.lstParticipant or app.user == item.organisateur %}
                                x
                            {% endif %}
                            </td>

                            <td><a href="{{ path("profil_research", {'id':item.organisateur.id}) }}">{{ item.organisateur.nom }}</a></td>

                            <td>
                                {% if app.user != item.organisateur %}
                                <a href="{{ path("display_sortie", {'id':item.id}) }}">Afficher</a>
                                {% endif %}

                                {% if app.user in item.lstParticipant %}
                                    <a href="{{ path("desist_sortie", {'id':item.id}) }}">Se désister</a>
                                {% endif %}

                                {% if app.user == item.organisateur %}
                                <a href="{{ path("modify_sortie", {'id':item.id}) }}">Modifier</a>
                                {% endif %}

                                {% if  app.user not in item.lstParticipant %}
                                <a href="{{ path("registre_sortie", {'id':item.id}) }}">S'inscrire</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path("create_sortie") }}">
        <input class="btn btn-success"
           type="button"
           value="Créer une sortie">
    </a>

{% endblock %}
