{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}


{% block body %}
    <h2 align="center"> Mon profil</h2>
    <div class="container">
            {{form_start(form)}}

        <div class="row">
            <div class="col">
            {{ form_label(form.pseudo) }}
            </div>
            <div class="col">
            {{ form_widget(form.pseudo) }} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
            {{ form_label(form.prenom) }}
            </div>
            <div class="col">
            {{form_widget(form.prenom) }} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
            {{ form_label(form.nom)}}
            </div>
            <div class="col">
            {{form_widget(form.nom)}} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
            {{form_label(form.telephone)}}
            </div>
            <div class="col">
            {{form_widget(form.telephone)}} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
            {{form_label(form.email)}}
            </div>
            <div class="col">
            {{form_widget(form.email)}} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
            {{form_label(form.password)}}
            </div>
            <div class="col">
            {{form_widget(form.password)}} <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
            {{form_label(form.confirmation)}}
            </div>
            <div class="col">
            {{form_widget(form.confirmation)}} <br>
            </div>
        <div>

            
            <div class="row">
            <div class="col">
            {{form_label(form.campus)}}
            </div>
            <div class="col">
            {{form_widget(form.campus)}} <br>
            </div>
        </div>


            {%block buttons%}
        <div class="buttons">

            <button type="submit" class="btn btn-success" >Enregistrer</button>
            <button type="submit" class="btn btn-success" >Annuler</button>
        </div>
            {%endblock%}

            {{ form_end(form) }}

    </div>
{% endblock %}


























