{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}


{% block body %}


    <div class="container">

        <h2>Mon profil</h2>
        {{ form_start(form) }}

        <div class="container_photo">
            {% if app.user.image %}
                <img src="{{ asset('uploads/StockageAvatar/' ~ app.user.image) }}" alt="Avatar du profile"
                     class="photoprofile">
            {% endif %}
        </div>

        <br>

        <div class="blocProfile row">
            <div class="col-4 offset-md-3">
                {{ form_label(form.pseudo) }}
            </div>
            <div class="col">
                {{ form_widget(form.pseudo) }} <br>
            </div>
        </div>

        <div class="blocProfile row">
            <div class="col-4 offset-md-3">
                {{ form_label(form.prenom) }}
            </div>
            <div class="col">
                {{ form_widget(form.prenom) }} <br>
            </div>
        </div>

        <div class="blocProfile row">
            <div class="col-4 offset-md-3">
                {{ form_label(form.nom) }}
            </div>
            <div class="col">
                {{ form_widget(form.nom) }} <br>
            </div>
        </div>

        <div class="blocProfile row">
            <div class="col-4 offset-md-3">
                {{ form_label(form.telephone) }}
            </div>
            <div class="col">
                {{ form_widget(form.telephone) }} <br>
            </div>
        </div>

        <div class="blocProfile row">
            <div class="col-4 offset-md-3">
                {{ form_label(form.email) }}
            </div>
            <div class="col">
                {{ form_widget(form.email) }} <br>
            </div>
        </div>

        <div class="blocProfile row">
            <div class="MDP col-4 offset-md-3">
                <p>Mot de passe :</p>
                <p>Confirmation du mot de passe :</p>

            </div>
            <div class="col">
                {{ form_widget(form.password) }} <br>
            </div>
        </div>
        {# test #}
        <div class="blocProfile row">
            <div class="col-4 offset-md-3">
                {{ form_label(form.campus) }}
            </div>
            <div class="col">
                {{ form_widget(form.campus) }} <br>
            </div>
        </div>
        <br>
        <div class="blocProfile row">
            <div class="col-4 offset-md-3">
                {{ form_label(form.image) }}
            </div>
            <div class="col">
                {{ form_widget(form.image) }} <br>
            </div>
        </div>

        {% block buttons %}
            <div class="buttons">

                <button type="submit" class="btn btn-success">Enregistrer</button>
                <button type="submit" class="btn btn-success">Annuler</button>
            </div>
        {% endblock %}

        {{ form_end(form) }}

    </div>
{% endblock %}


























