{% extends 'base.html.twig' %}





    {% block body %}
        {{form_start(form)}}
            {{ form_label(form.pseudo) }}
            {{ form_widget(form.pseudo) }}

            {{ form_label(form.prenom) }}
            {{form_widget(form.prenom) }}

            {{ form_label(form.nom)}}
            {{form_widget(form.nom)}}

            {{form_label(form.telephone)}}
            {{form_widget(form.telephone)}}

            {{form_label(form.email)}}
            {{form_widget(form.email)}}

            {{form_label(form.password)}}
            {{form_widget(form.password)}}

            {{form_label(form.confirmation)}}
            {{form_widget(form.confirmation)}}

            {{form_label(form.campus)}}
            {{form_widget(form.campus)}}


            {{ form_rest(form) }}
            <button type="submit">Enregistrer</button>
            <button type="submit">Annuler</button>
        {{ form_end(form) }}
    {% endblock %}


























