{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Research_other_profiles{% endblock %}

{% block body %}
<h1>{{profil.pseudo}}</h1>
    <ul>
        <li>{{profil.prenom}} </li>
        <li>{{profil.nom}} </li>
        <li>{{profil.telephone}} </li>
        <li>{{profil.email}} </li>
        <li>{{profil.campus.nom}} </li>
    </ul>

    <a href="{{ path("home") }}">
        <input class="btn btn-success"
               type="button"
               value="Retour">
    </a>
{% endblock %}



























