{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Research_other_profiles{% endblock %}

{% block body %}
<h1>Profile Research_other_profiles -{{id}}</h1>
    <ul>
        <li>{{profil.prenom}} </li>
        <li>{{profil.nom}} </li>
        <li>{{profil.telephone}} </li>
        <li>{{profil.email}} </li>
        <li>{{profil.campus.nom}} </li>
    </ul>
{% endblock %}



























