{% extends 'base.html.twig' %}

{% block title %}<h1>Annuler une sortie</h1>{% endblock %}

{% block body %}
{#    {{ form_start(form) }}#}
    <div class="container">
        {% block nomPage %}<h2>Annuler une sortie</h2>{% endblock %}
        <div class="annuler">
            <p>Nom de la sortie : {{ sortie.nom }}</p>
            <p>Date de la sortie : {{ sortie.dateHeureDebut|date("H:i d M y") }}</p>
            <p>Campus : {{ sortie.Campus.nom }}</p>
            <p>Lieu : {{ sortie.Lieu.nom }}</p>
{#            <p>Motif : <textarea id="motif">{{ sortie.infosSortie }}</textarea></p>#}
        </div>

        {% block buttons %}
            <div class="buttons">

{#                {{ form_widget(form.delete) }}#}
                </a>
                <a href="{{ path("create_sortie") }}">
                    <input class="btn btn-success"
                           type="button"
                           value="Annuler">
                </a>

            </div>
        {% endblock %}
{#        {{ form_end(form) }}#}
    </div>
{% endblock %}

