{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block nomPage %}<h2>Créer une sortie</h2>{% endblock %}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.nom) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.nom) }}<br>
            </div>
            <div class="col-md-3">
                {{ form_label(form.campus) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.campus) }}<br>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.dateHeureDebut) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.dateHeureDebut) }}<br>
            </div>
            <div class="col-md-3">
                {{ form_label(form.ville) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.ville) }}<br>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.dateLimiteInscription) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.dateLimiteInscription) }}<br>
            </div>
            <div class="col-md-3">
                {{ form_label(form.lieu) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.lieu) }}<br>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.nbInscriptionsMax) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.nbInscriptionsMax) }}<br>
            </div>
            <div class="col-md-3">
                {{ form_label(form.rue) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.rue) }}<br>
                <br>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.duree) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.duree) }}<br>
            </div>
            <div class="col-md-3">
                {{ form_label(form.codePostal) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.codePostal) }}<br>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {{ form_label(form.infosSortie) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.infosSortie) }}<br>
            </div>
            <div class="col-md-3">
                {{ form_label(form.latitude) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.latitude) }}<br>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-6">
                {{ form_label(form.longitude) }}
                <div class="col-md-3 offset-md-9">
                    {{ form_widget(form.longitude) }}<br>
                </div>
            </div>
        </div>
        {% block buttons %}
            <div class="buttons">
                {{ form_widget(form.checkpoint) }}
                {{ form_widget(form.publish) }}
                <a href="{{ path("home") }}">
                    <input class="btn btn-success"
                           type="button"
                           value="Annuler">
                </a>
            </div>
        {% endblock %}

        {{ form_end(form) }}
    </div>
{% endblock %}
