{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% block nomPage %}<h2>Afficher une sortie</h2>{% endblock %}

        <div class="row">
            <div class="col-md-3">
                <p>Nom de la sortie : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.nom }}</p>
            </div>
            <div class="col-md-3">
                <p>Campus : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.Campus.nom }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>Date et heure de la sortie : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.dateHeureDebut|date("H:i d M y") }}</p>
            </div>
            <div class="col-md-3">
                <p>Ville : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.Lieu.Ville.nom }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>Date limite d'inscription : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.dateLimiteInscription|date("d M y") }}</p>
            </div>
            <div class="col-md-3">
                <p>Lieu: </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.Lieu.nom }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>Nombre de places : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.nbInscriptionsMax }}</p>
            </div>
            <div class="col-md-3">
                <p>Rue : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.Lieu.rue }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>Durée : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.duree }}</p>
            </div>
            <div class="col-md-3">
                <p>Code Postal : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.Lieu.Ville.codePostal }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>Description et infos : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.infosSortie }}</p>
            </div>
            <div class="col-md-3">
                <p>Latitude : </p>
            </div>
            <div class="col-md-3">
                <p>{{ sortie.Lieu.latitude }}</p>
            </div>
        </div>

        <p>Longitude : {{ sortie.Lieu.longitude }}</p>


        <div class="table">
            <p>Liste des participants inscrits : </p>
            <div class="row">
                <div class="col-md-10 offset-md-5">
                    <table>
                        <thead> <!-- En-tête du tableau -->
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom</th>
                        </tr>
                        </thead>

                        <tbody> <!-- Corps du tableau -->
                        {% for friend in lstParticipant %}
                            <tr>
                                <td>{{ friend.pseudo }}</td>
                                <td>{{ friend.nom }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
